{:paths ["src"]
 :deps  {com.github.haifengl/smile-core {:mvn/version "2.6.0"}
         com.github.haifengl/smile-math {:mvn/version "2.6.0"}
         ribelo/halle                   {:git/url "https://github.com/ribelo/halle"
                                         :sha     "11cdf8a44b71e377fe9dcf6d73dbe7a6791120a0"}}}
