{:paths ["src"]
 :deps  {com.github.haifengl/smile-core {:mvn/version "2.6.0"}
         com.github.haifengl/smile-math {:mvn/version "2.6.0"}
         ribelo/halle                   {:git/url "https://github.com/ribelo/halle"
                                         :sha     "7296f8c4c6edbf9b6316fcf42b471adf7d54720c"}
         ribelo/kemnath                 {:git/url "https://github.com/ribelo/kemnath"
                                         :sha     "a66986006d004d8a737b5ac9ca9a214e50cf52b7"}}}
